__pycache__/
stories_env/
.DS_Store
.env.development
.env.production
node_modules/
data/
app/language_models/question_detector/models/
test.py
chroma/
chroma__db/
chroma_db/
*.chroma
*.duckdb
*.sqlite
*chroma.sqlite3
hot_commands.bash
questions.txt
search_results/
blog_ideas.txt
TODO.md
fast_data.txt
chroma.tar.gz