.input {
  display: flex;
  width: 100%;
  border-radius: var(--radius-md);
  /* border: 1px solid var(--color-muted); */
  background: var(--color-bg);
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: var(--color-text);
}
.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
::placeholder {
  color: var(--color-muted);
  opacity: 1;
}
